body {
  background-color: #f9f9f9;
  font: 400 1.313em/1.38 Lato;
  color: rgb(0, 0, 0);
}

.behance {
  float: left;
  width: 33%;
  min-height: 29px;
  font-size: 0.571em;
  font-weight: 900;
  text-align: center;
  color: #4e4f51;
}

.behance:hover,
.contacts:hover,
.dhandle:hover,
.ehandle:hover,
.footer .dribbble:hover,
.footer .twitter:hover,
.resume:hover,
.thandle:hover {
  text-decoration: underline;
}

.contacts {
  display: block;
  position: absolute;
  top: 27px;
  right: 10.0016276041%;
  z-index: 17;
  width: 10%;
  height: 50px;
  padding-top: 14px;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 0.571em;
  font-weight: 700;
  text-align: center;
  color: #4e4f51;
}

.contacts:active,
.works:active {
  color: rgba(78, 79, 81, 0.5);
}

.copy {
  float: left;
  clear: both;
  max-width: 560px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1em;
  line-height: 1.6;
  color: rgba(20, 24, 35, 0.7);
}

.dhandle,
.ehandle,
.thandle {
  float: left;
  clear: both;
  padding-left: 10px;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.dribbble,
.twitter {
  float: left;
}

.dribbble .dribbble,
.twitter .twitter {
  font-size: 1.524em;
  font-weight: 900;
  color: rgb(0, 0, 0);
}

.footer {
  width: 100%;
  min-width: 960px;
  max-width: 960px;
  height: 150px;
  margin: 0 auto;
}

.footer .dribbble,
.footer .twitter {
  width: 33%;
  min-height: 29px;
  font-size: 0.571em;
  font-weight: 900;
  text-align: center;
  color: #4e4f51;
}

.footer .email {
  width: 300px;
  margin: 40px auto 0;
  padding-bottom: 20px;
  font-size: 0.667em;
  text-align: center;
  color: #4e4f51;
}

.footer .social {
  width: 300px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.h1 {
  float: left;
  font-size: 2.286em;
  font-weight: 700;
  color: #141823;
}

.header {
  position: relative;
  width: 100%;
  min-width: 960px;
  max-width: 960px;
  height: 90px;
  margin: 0 auto;
}

.hero {
  width: 100%;
  height: 573px;
  margin: 0 auto;
  padding-top: 120px;
  padding-right: 20px;
  padding-left: 20px;
}

.hero .social {
  float: left;
  clear: both;
  width: 97.3283076514%;
  height: 72px;
  margin-top: 60px;
}

.image {
  display: block;
  float: left;
  clear: both;
  width: 940px;
  height: auto;
  margin-top: 45px;
  overflow: hidden;
}

.mail {
  float: left;
  font-size: 1.524em;
  font-weight: 900;
  color: rgb(0, 0, 0);
}

.main {
  width: 100%;
  min-width: 960px;
  max-width: 960px;
  height: 600px;
  margin: 90px auto 0;
}

.resume {
  display: block;
  position: absolute;
  top: 27px;
  right: 0.0032552083%;
  z-index: 16;
  width: 10%;
  height: 50px;
  padding-top: 14px;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 0.571em;
  font-weight: 700;
  text-align: center;
  color: #4e4f51;
}

.social .email {
  float: left;
  width: 30%;
  height: 72px;
}

.title {
  float: left;
  margin: 44px 0 0 3.9974%;
  font-size: 0.571em;
  font-weight: 700;
  letter-spacing: 3px;
  color: #ff4c4c;
}

.works {
  display: block;
  position: absolute;
  top: 27px;
  right: 20.0016276041%;
  z-index: 18;
  width: 10%;
  height: 50px;
  padding-top: 14px;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  font-size: 0.571em;
  font-weight: 700;
  text-align: center;
  color: #4e4f51;
}

.works:hover {
  font-style: normal;
  text-decoration: underline;
}

._container {
  width: 100%;
}

.dribbble-1,
.twitter-1 {
  width: 20%;
  height: 72px;
  margin-left: 9.99721%;
}

._container-1 {
  float: left;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.95);
}

._container-2 {
  height: 150px;
  margin: 50px auto 0;
  background-color: rgb(255, 255, 255);
}

@media(max-width: 380px) {
  .dribbble .dhandle,
  .email .ehandle,
  .twitter .thandle {
    font-size: 0.857em;
  }

  .dribbble .dribbble,
  .email .mail,
  .twitter .twitter {
    font-size: 1.143em;
  }

  .footer .dribbble {
    margin-left: 0.6065%;
  }

  .footer .email,
  .footer .social {
    width: 80%;
  }

  .header .contacts {
    top: 51px;
    left: 30%;
    right: auto;
    width: 20%;
  }

  .header .resume {
    top: 51px;
    left: 50%;
    right: auto;
    width: 20%;
  }

  .header .title {
    margin-top: 30px;
    margin-left: 10%;
  }

  .header .works {
    top: 51px;
    left: 10%;
    right: auto;
    width: 20%;
  }

  .hero .copy {
    font-size: 0.762em;
  }

  .hero .h1 {
    font-size: 1.238em;
  }

  .hero .image {
    width: 306px;
    height: auto;
    margin-top: 0;
  }

  .hero .social {
    width: 95.4020182291%;
    height: 277px;
    margin-top: 10px;
  }

  .main {
    min-width: 340px;
    max-width: 380px;
    height: 580px;
    margin-top: 0;
  }

  .main .hero {
    float: left;
    height: 580px;
    margin-right: 0;
    margin-left: 0;
    padding-top: 70px;
  }

  .social .behance {
    margin-left: 0.1285%;
  }

  .social .email {
    width: 100%;
  }

  .social .dribbble-1,
  .social .twitter-1 {
    clear: both;
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }

  ._container .footer-1,
  ._container .header-1 {
    min-width: 340px;
    max-width: 380px;
  }

  ._container-1 {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  ._container-2 {
    float: left;
    clear: both;
    margin-right: 0;
    margin-left: 0;
  }
}